In [1]:
!pip install google-play-scraper

Requirement already satisfied: google-play-scraper in c:\users\cksgh\anaconda3\lib\site-packages (1.2.4)

WARNING: Ignoring invalid distribution -oblib (c:\users\cksgh\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -oblib (c:\users\cksgh\anaconda3\lib\site-packages)

## Most Relevant Functions

In [2]:
def relevant_Functions(link,language,reviews,time):
    from google_play_scraper import Sort, reviews_all

    result = reviews_all(
        link,
        sleep_milliseconds=time, # defaults to 0
        lang=language, # defaults to 'en'
        country='us', # defaults to 'us'
        sort=Sort.MOST_RELEVANT, # defaults to Sort.MOST_RELEVANT
        filter_score_with=reviews # defaults to None(means all score)
    )
    return result

In [3]:
def Newest_Functions(link,language,reviews):
    from google_play_scraper import Sort, reviews_all

    result = reviews_all(
        link,
        sleep_milliseconds=0, # defaults to 0
        lang=language, # defaults to 'en'
        country='us', # defaults to 'us'
        sort=Sort.NEWEST, # defaults to Sort.MOST_RELEVANT
        filter_score_with=reviews # defaults to None(means all score)
    )
    return result

## Reviews All

In [6]:
len(data2)

40758

In [ ]:
link = 'com.devsisters.CookieRunForKakao'
data1=relevant_Functions(link, 'ko',1)
data2=relevant_Functions(link, 'ko',2)

In [ ]:
data3=relevant_Functions(link, 'ko',3,0.5)
data4=relevant_Functions(link, 'ko',4,0)
data5=relevant_Functions(link, 'ko',5,0)

In [ ]:
def Make_DataFrame(data,plus_data):
    for i,j in enumerate(result):
        plus_data.loc[i,'name']= j['userName'] 
        plus_data.loc[i,'reviews']= j['content'] 
        plus_data.loc[i,'score']= j['score'] 
        plus_data.loc[i,'year']= j['at'].year
        plus_data.loc[i,'month']= j['at'].month
        plus_data.loc[i,'day']= j['at'].day

In [ ]:
import pandas as pd
data = pd.DataFrame()
data['name'] = None
data['reviews'] = None
data['score'] = None
data['year'] = None
data['month'] = None
data['day'] = None

In [ ]:
for i in range(1,6):
    Make_DataFrame(data,data+str(i))

In [21]:
from google_play_scraper import Sort, reviews_all

result = reviews_all(
    'com.itoxi.jeonsinaos',
    sleep_milliseconds=0, # defaults to 0
    lang='ko', # defaults to 'en'
    country='us', # defaults to 'us'
    sort=Sort.MOST_RELEVANT, # defaults to Sort.MOST_RELEVANT
    filter_score_with=5 # defaults to None(means all score)
)

In [22]:
len(result)

751

In [61]:
from google_play_scraper import Sort, reviews_all

result = reviews_all(
    'com.dxx.firenow',
    sleep_milliseconds=0, # defaults to 0
    lang='ko', # defaults to 'en'
    country='us', # defaults to 'us'
    sort=Sort.NEWEST, # defaults to Sort.MOST_RELEVANT
    filter_score_with=5 # defaults to None(mexans all score)
)

In [62]:
len(result)

40404

In [14]:
import pandas as pd
data = pd.DataFrame()
data['name'] = None
data['reviews'] = None
data['score'] = None
data['year'] = None
data['month'] = None
data['day'] = None

In [15]:
for i,j in enumerate(result):
    data.loc[i,'name']= j['userName'] 
    data.loc[i,'reviews']= j['content'] 
    data.loc[i,'score']= j['score'] 
    data.loc[i,'year']= j['at'].year
    data.loc[i,'month']= j['at'].month
    data.loc[i,'day']= j['at'].day

In [11]:
data1 = data

In [16]:
data2 = data

In [55]:
data3 = data

In [60]:
data4 = data

In [65]:
data5 = data

In [67]:
pd.concat([data1,data2,data3,data4,data5],axis=0).to_csv("탕탕특공대_Newest_Reviews.csv")

In [71]:
df1 = pd.read_csv("탕탕특공대_Relevant_Reviews.csv")
df2 = pd.read_csv("탕탕특공대_Newest_Reviews.csv")
df1.drop("Unnamed: 0",axis=1,inplace=True)
df2.drop("Unnamed: 0",axis=1,inplace=True)

In [110]:
df2

,name,reviews,score,year,month,day
0,HP LM,지겨워,1,2023,5,15
1,123 귀요미와 깜찍이,저 레벨 18이였는데 저절로 게임이 지워졌어요 그래서 다시해야하나 걱정이네요 이거 ...,1,2023,5,14
2,신지율,광고 수준 ㅉㅉ 역겹다 광고나 다시 찍어 뇌절겜아,1,2023,5,14
3,kyuseol kim,. 좀고쳐주세요너무어려어요!!!!!!!!!!!!!!!!!!!!!!좀!!!!!!!!!...,1,2023,5,14
4,임현정,좋은거같긴한데. 어려워서싫어요,1,2023,5,14
...,...,...,...,...,...,...
52923,박희만,완전 꿀잼이에요!!! 재밌게 하겠습니다,5,2022,8,10
52924,김진우,과금 유도가 적고 쉽고 재밌다 리얼임,5,2022,8,10
52925,송인재,재밋어요 시간잘감,5,2022,8,10
52926,쿠로하,괜찮네요,5,2022,8,10
52927,김남준,제일 직관적이고 성장하는 맛도 있는 서바이벌류 게임,5,2022,8,10

## Reviews

In [24]:
from google_play_scraper import Sort, reviews

result, continuation_token = reviews(
    'com.dxx.firenow',
    lang='ko', # defaults to 'en'
    country='us', # defaults to 'us'
    sort=Sort.NEWEST, # defaults to Sort.NEWEST
    count=3, # defaults to 100
    filter_score_with=5 # defaults to None(means all score)
)

# If you pass `continuation_token` as an argument to the reviews function at this point,
# it will crawl the items after 3 review items.